//Variables
$primary-color: #212121;
$secondary-color: #4a148c;
$alternative-color: #3949ab;
$terceary-color: #ba68c8;

/* COLORS  */

.primary-color {
    color: $primary-color;
}

.secondary-color {
    color: $secondary-color;
}

.alternative-color {
    color: $alternative-color;
}

.terceary-color {
    color: $terceary-color;
}